*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    }

.border {
    border: 1px solid black;
}


/* NOMBRE DE LAS AREAS */
header{
    grid-area: header;
    background-color: #093258;
    padding: 0px 24px 0px 24px;
}

nav{
    grid-area: menu;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 60%;
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end; 
    align-items: center;
    top: 10px;
}

#imgGrandeEstrenos{
    grid-area: estrenos;
    width: 215px;
    height: 300px;
    margin-left: 15px;
    border-radius: 6px;
}

footer{
    grid-area: footer;
    background-color: #093258;
    padding: 0px 24px 0px 24px;
}





/* RESPONSIVE */
/* Smartphone */
@media (max-width: 480px){
    body{
        background: rgb(77,77,77);
        background: linear-gradient(0deg, rgba(77,77,77,0.9026961126247374) 0%, rgba(23,75,123,1) 85%);
    }

    .bodyStyleIndexSmartphone{
        height: 226vh
    }

    .bodyStyleEstrenosSmartphone{
        height: 187vh
    }

    .headerStyle{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: azure;
        position: sticky;
        top: 0;
        opacity: 0.90;
    }
    
    ul {
        list-style-type: none;
        width: 92%;
        height: 5vh;
        padding: 10px;
    }
    
    li{
        border-radius: 3px;
    }
    
    li:hover {
        background-color: #4175A5;
    }
    
    a:hover{
        color: black;
    }

    .menuFlex{
        font-size: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .contenedorImgPrin{
        width: 100%;
        height: 100%;
    }
    
    .imgPrincipal{
        width: 100%;
        height: 30vh;
    }

    .img{
        width: 38%;
        height: 237px;
        margin-left: 18px;
        border-radius: 6px;
        padding: 0;
    }

    .contenedorImg{
        padding: 30px 0px 30px 50px;
    }
    /* IMAGENES SECCIONES ESTRENOS, PELICULAS Y GENEROS */
    .imgSecciones{
        width: 38%;
        height: 237px;
        margin-left: 18px;
        margin-top: 20px;
        border-radius: 6px;
    }
    .contenedorImgSecciones{
        padding: 10px 0px 30px 50px;
        display: flex;
        flex-flow: row wrap;
    }
    /* FIN DE IMAGENES SECCIONES */
    
    /* TITULOS */
    .h1Titulo{
        padding: 24px 0px 24px 0px;
        width: 22%;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .h2Titulos{
        padding: 10px;
    }
    
    /* H2 TITULOS SECCIONES */
    .h2TitulosSecciones{
        padding: 20px 10px 10px 10px;
    }
    
    /* FOOTER IGUAL PARA TODOS */ 
    .h3TituloFooter{
        color: white;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    a{
        color: white;
        text-decoration: none;
        padding: 5px;
    }
   
    /* FOOTER  */
    .footerDiv{
        padding-top: 10px;
    }
    
    .centradoFooter{
        color: white;
        font-size: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 99%;
        height: 20px;
        padding-left: 10px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
        top: 10px; 
    }
    
    .menuFooter{
        width: 87%;
        font-size: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    .liFooter{
        margin-left: 30px;
    }
    
    .pFooter{
        font-size: 10px;
        color: #595D61;
        padding: 15px 0px 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    /* INICIO SECCION CONTACTO */

    .contenedorContacto{
        padding: 100px 0px 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .contactoDiv{
        width: 50%;
        border-radius: 5px;
        border: 1px solid #E2E2E2;
        padding: 10px;
        background-color: #4175A5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .claseInput,select,textarea{
        width: 100%;
        padding: 4px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    label{
        color: white;
    }
    .legendInfo{
        color: white;
    }
    .botonClaseInput{
        width: 50%;
        padding: 4px;
        margin: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    .divBotonClase{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .botonClaseInput:hover{
        background-color: #093258;
        color: white;
        cursor: pointer;
    }
    /* FIN DE CONTACTO */

    /* GRID POR AREAS */
    #gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu"
        "estrenos"
        "peliculas"
        "footer";

        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        
    }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 1023px){
    body{
        background: rgb(77,77,77);
        background: linear-gradient(0deg, rgba(77,77,77,0.9026961126247374) 0%, rgba(23,75,123,1) 85%);
    }

    .bodyStyleIndexTablet{
        height: 188vh
    }
    .bodyStyleEstrenosTablet{
        height: 146vh;
    }

    .headerStyle{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: azure;
        position: sticky;
        top: 0;
        opacity: 0.90;
    }
    
    ul {
        list-style-type: none;
        width: 100%;
        height: 10vh;
        padding: 10px;
    }
    
    li{
        border-radius: 3px;
    }
    
    li:hover {
        background-color: #4175A5;
    }
    
    a:hover{
        color: black;
    }

    .menuFlex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .contenedorImgPrin{
        width: 100%;
        height: 100%;
    }
    
    .imgPrincipal{
        width: 100%;
        height: 40vh;
    }

    .img{
        width: 215px;
        height: 300px;
        margin-left: 15px;
        border-radius: 6px;
    }

    .contenedorImg{
        padding: 30px 0px 30px 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    /* IMAGENES SECCIONES ESTRENOS, PELICULAS Y GENEROS */
    .imgSecciones{
        width: 22%;
        height: 340px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 6px;
    }
    .contenedorImgSecciones{
        padding: 10px 0px 30px 50px;
    }
    /* FIN DE IMAGENES SECCIONES */
    
    /* TITULOS */
    .h1Titulo{
        padding: 24px 0px 24px 0px;
        width: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .h2Titulos{
        padding: 10px;
    }
    
    /* H2 TITULOS SECCIONES */
    .h2TitulosSecciones{
        padding: 20px 10px 10px 10px;
    }
    
    /* FOOTER IGUAL PARA TODOS */ 
    .h3TituloFooter{
        color: white;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    a{
        color: white;
        text-decoration: none;
        padding: 5px;
    }
   
    /* FOOTER  */
    .footerDiv{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .centradoFooter{
        color: white;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 99%;
        height: 20px;
        padding-left: 10px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
        top: 10px; 
    }
    
    .menuFooter{
        width: 83%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .liFooter{
        margin-left: 30px;
    }
    
    .pFooter{
        font-size: 12px;
        color: #595D61;
        padding: 15px 0px 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    /* INICIO SECCION CONTACTO */

    .contenedorContacto{
        padding: 100px 0px 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .contactoDiv{
        width: 50%;
        border-radius: 5px;
        border: 1px solid #E2E2E2;
        padding: 10px;
        background-color: #4175A5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .claseInput,select,textarea{
        width: 100%;
        padding: 4px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    label{
        color: white;
    }
    .legendInfo{
        color: white;
    }
    .botonClaseInput{
        width: 50%;
        padding: 4px;
        margin: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    .divBotonClase{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .botonClaseInput:hover{
        background-color: #093258;
        color: white;
        cursor: pointer;
    }
    /* FIN DE CONTACTO */

    /* GRID POR AREAS */
    #gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "estrenos"
        "peliculas"
        "footer";

        grid-template-rows: 1fr 2fr 2fr 1fr;
        
    }
}

/* DESKTOP */
@media (min-width: 1024px){
    body{
        background: rgb(77,77,77);
        background: linear-gradient(0deg, rgba(77,77,77,0.9026961126247374) 0%, rgba(23,75,123,1) 85%);
    }

    .bodyIndexDesktop{
        height: 209vh
    }

    .headerStyle{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: azure;
        position: sticky;
        top: 0;
        opacity: 0.90;
    }
    
    ul {
        list-style-type: none;
        width: 100%;
        height: 10vh;
        padding: 10px;
    }
    
    li{
        border-radius: 3px;
    }
    
    li:hover {
        background-color: #4175A5;
    }
    
    a:hover{
        color: black;
    }

    .menuFlex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .menuAnimado:hover {
        display: inline-block;
        /* margin:  0.1em; */

        animation: bounce;
        animation-duration: 1s;
    }

    .contenedorImgPrin{
        width: 100%;
        height: 100%;
    }
    
    .imgPrincipal{
        width: 100%;
        height: 50vh;
    }

    .img{
        width: 215px;
        height: 300px;
        margin-left: 15px;
        border-radius: 6px;
    }

    .contenedorImg{
        padding: 30px 50px 30px 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    /* IMAGENES SECCIONES ESTRENOS, PELICULAS Y GENEROS */
    .imgSecciones{
        width: 22%;
        height: 430px;
        margin-left: 15px;
        margin-top: 35px;
        border-radius: 6px;
    }
    .contenedorImgSecciones{
        padding: 10px 0px 30px 50px;
    }

    .imgAnimada:hover {
        display: inline-block;
        margin: 0 0.2rem;

        animation: headShake;
        animation-duration: 1s;
    }
    /* FIN DE IMAGENES SECCIONES */
    
    /* TITULOS */
    .h1Titulo{
        padding: 24px 0px 24px 0px;
        width: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .h2Titulos{
        padding: 10px;
    }
    
    /* H2 TITULOS SECCIONES */
    .h2TitulosSecciones{
        padding: 40px 10px 10px 10px;
    }
    
    /* FOOTER IGUAL PARA TODOS */ 
    .h3TituloFooter{
        color: white;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    a{
        color: white;
        text-decoration: none;
        padding: 5px;
    }
   
    /* FOOTER  */
    .footerDiv{
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .centradoFooter{
        color: white;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 99%;
        height: 20px;
        padding-left: 10px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
        top: 10px; 
    }
    
    .menuFooter{
        width: 83%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .liFooter{
        margin-left: 30px;
    }
    
    .pFooter{
        font-size: 12px;
        color: #595D61;
        padding: 15px 0px 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    /* INICIO SECCION CONTACTO */

    .contenedorContacto{
        padding: 100px 0px 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .contactoDiv{
        width: 50%;
        border-radius: 5px;
        border: 1px solid #E2E2E2;
        padding: 10px;
        background-color: #4175A5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .claseInput,select,textarea{
        width: 100%;
        padding: 4px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    label{
        color: white;
    }
    .legendInfo{
        color: white;
    }
    .botonClaseInput{
        width: 50%;
        padding: 4px;
        margin: 10px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: #E2E2E2;
    }
    .divBotonClase{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .botonClaseInput:hover{
        background-color: #093258;
        color: white;
        cursor: pointer;
    }
    /* FIN DE CONTACTO */
    /* GRID POR AREAS */
    #gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "estrenos"
        "peliculas"
        "footer";

        
        grid-template-rows: 1fr 2fr 2fr 1fr;
    }
}